@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*     Global tags     */

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);

}

span{
    font-size: .9rem;
    color: #757373;
}

h6{
    font-size: 1.1 rem;
    color: rgb(24, 24, 49);
}

/*     Navigation    */

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
    box-shadow: rgb(11 10 10) 0px -3px 29px;
    position: fixed;
    width: 100%;
    background-color: #fefdfc;
    
}

nav img{
    width: 170px;
    cursor: pointer;
    margin-left: 40px;

}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav .navigation ul li{
    list-style: none;
    margin: 0px 40px;
}

nav .navigation ul li a{
    text-decoration: none;
    font-size: large;
    color: rgb(21, 21, 100);
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease;

}

nav .navigation ul li a:hover{
    color: rgb(219, 222, 11);
}

/*    Home Section------------------------------ */

#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("images/back.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-weight: 600;
    padding-top: 40px;
    
}

#home h2{
    
    color: whitesmoke;
    font-size: 43px;
    font-weight: 900;
}


#home p{

    color: whitesmoke;
    width: 715px;
    font-weight: 500;
    line-height: 25px;
    font-size: 1.1rem;
}

#home .btn{
    margin-top: 30px;
}

#home .blue{
    background-color: rgb(14 14 107);
    color: aliceblue;
    padding: 15px;
    text-decoration: none   ;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px;
    font-weight: 600;
}

#home .yellow{
    background-color: rgb(215, 215, 11);
    color: aliceblue;
    padding: 15px;
    text-decoration: none   ;
    border-radius: 10px;
    font-size: 18px;
    
    font-weight: 600
}

#home .blue:hover{
     background-color: whitesmoke;
     color: rgb(13, 13, 68);
     transition: 0.5s ease;
}

#home .yellow:hover{
     color: rgb(207, 207, 19);
     background-color: whitesmoke;
     transition: 0.5s ease;
}

/* ------------Features--------------- */

#features{
    padding: 4vw 8vw 0px 8vw;
    text-align: center;
}

#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 40px;
}


#features .fea-box{
    background: #e6e6f7;
   text-align: start;
   padding: 20px 5px 20px 20px;
}

#features .fea-box i{
    font-size: 2.3rem;
    color: rgb(44,44,80);
}

#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46,46,59);
    padding: 13px 0px 7px 0px;
}

#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70,70,87);
    }


/* -------- Courses---------- */


#course{
    text-align: center;
    padding: 4vw 8vw 0vw 8vw;
}

#course .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#course .courses{
    text-align: start;
    background: #e6e6f7 ;
    height: 100%;
    
}

#course .courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#course .courses .details{
    padding: 15px 15px 0px 15px;
}

#course .courses .details i{
    color: #FDC93B;
    font-size: .9rem;

}

/* Registration */

#registration{
    margin-top: 60px;
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgb(99,112,168,0.5),rgba(81,91,233,0.5)),url(images/signup.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#registration .reminder{
    color: #fff;
}

#registration .reminder h1{
    color: #fff;
}

#registration .reminder .time{
    display: flex;
    margin-top: 40px;
}

#registration .reminder .time .date{
    text-align: center;
    padding: 13px 33px;
    background: rgb(255,255,255,0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0px 8px 32px 0 rgba(31,38,135,0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    font-size: 1.1rem;
    font-weight: 600;
    border: rgba(255,255,255,0.38);
}

#registration .form{
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 2px solid rgb(205, 186, 16);
}

#registration .form input{
    padding: 10px;
    font-size: 1rem;
    border-color: #FDC93B;
    
}

#registration .form button{
    background-color: rgb(215, 215, 11);
    color: aliceblue;
    padding: 10px;
    text-decoration: none   ;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    width: 80%;
    margin: auto;
    
    font-weight: 600
}

/* Profiles */


#experts{
    padding: 4vw 8vw 0 8vw;
    text-align: center;
}

#experts .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;

}

#experts .expert-box .profile{
    padding: 20px;
    background-color: #f3f3f9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#experts .expert-box .profile h6{
    font-size: 1.4rem;
    font-weight: 700;
    
}
#experts .expert-box .profile p{
    font-weight: 600;
    color: #757373;
}

#experts .expert-box .profile .pro-links{
    font-size: 1.3rem;
    margin: 2px 5px;
}

#experts .expert-box .profile .pro-links i{
    margin: 2px 5px;
    color: rgb(5, 5, 60);
}

/* footer */

footer{
    padding: 8vw;
    margin-top: 20px;
    background-color: #101C32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .footer-col h3{
    color: #e6e6f7;
}

footer .footer-col li{
    list-style: none;
    color: #757373;
}

footer .footer-col li:hover{
    color: #e6e6f7;
    transition: 0.3s ease;
    cursor: pointer;
}

footer p{
    color: #757373;
}

footer .subscribe{
    margin-top: 20px;
}

footer input{
    width: 220px;
    padding: 15px 12px ;
    background-color: #334F6C;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

footer input:hover{
    background-color: #fff;
    color:#334F6C ;
    cursor: pointer;
}



footer .subscribe a{
    background-color: #ffdc00;
    text-decoration: none;
    padding: 12px 21px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

footer .subscribe a:hover{
    background-color: #e6e6f7;
    color: #ffdc00 ;
    transition: 0.3s ease;
    cursor: pointer;
}































                                                                                        







